--extra-index-url https://download.pytorch.org/whl/cu116
--find-links https://download.pytorch.org/whl/torch_stable.html
torch
torchvision
torchaudio
pandas
transformers
datasets
nltk
scikit-learn
gensim